html,
body {
  height: 100%;
}

body {
  font-size: base('font-size');
  font-family: base('font-family');
  line-height: base('line-height');
  color: color('body');
}

img {
  max-width: 100%;
  height: auto;
}
