///
// Grid configuration
///
$grid-config: (
  columns:    12,
  gutter:     0.9375rem,
  max:        75rem
);

///
// Base global defaults
///
$base-config: (
  padding:      15px,
  font-size:    16px,
  font-family:  sans-serif,
  line-height:  1.5
);

///
// Breakpoints
///
$breakpoints: (
  small:  48rem,
  medium: 62rem,
  large:  75rem
);

///
// Colors
///
$colors: (
  body:             #383838,
  link:             #f66b34,
  error:            #f2dede,
  error-message:    #a94442,
  error-border:     #ebccd1,
  success:          #dff0d8,
  success-message:  #3c763d,
  success-border:   #d6e9c6,
  info:             #d9edf7,
  info-message:     #31708f,
  info-border:      #bce8f1
);

///
// Social Networks
///
$social-networks: (
  facebook:   #3b5998,
  twitter:    #00aced,
  googleplus: #dd4b39,
  linkedin:   #007bb6,
  youtube:    #bb0000,
  instagram:  #517fa4,
  pinterest:  #cb2027,
  flickr:     #ff0084,
  tumblr:     #32506d,
  foursquare: #0072b1,
  dribble:    #ea4c89,
  vine:       #00bf8f
);

///
// Z-index Map for @function z();
///
$z-index: (

);

///
// Fonts
///
