// Default page element styling.
//
body {
  margin: 0;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  color: $base-font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  width: 100%;
  height: 1px;
  margin-top: rem($base-gutter);
  margin-bottom: rem($base-gutter);
  background-color: color('grey', 'medium');
  border: 0;

  // Medium Desktops
  @include media(md) {
    margin-top: rem(double($base-gutter));
    margin-bottom: rem(double($base-gutter));
  }
}
