// Section
//
// Use this class for the section component.
//
// Markup:
// <div class="section">Content</div>
// <section class="Section">Content</button>
//
// Modifier:
// <div class="section section--intro">Content</div>
//
.section {
  padding-top: rem($base-gutter);
  padding-bottom: rem($base-gutter);

  // Medium Desktops
  @include media(md) {
    padding-top: rem(double($base-gutter));
    padding-bottom: re(double($base-gutter));
  }

  &.has-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
